<div class="top">
  <div class="item small">
    <h3>Hizmetler</h3>

    <a href="#">Web design</a>
    <a href="#">Development</a>
    <a href="#">Hosting</a>
  </div>
  <div class="item small">
    <h3>Hakkında</h3>
    <a href="#">Company</a>
    <a href="#">Team</a>
    <a href="#">Careers</a>
  </div>
  <div class="item large">
    <h3>VPT</h3>
    <p>
      Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem
      lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam
      in arcu eget velit pulvinar dictum vel in justo.
    </p>
  </div>
</div>
<div class="social">
  <a href="#"><i class="fab fa-facebook"></i></a
  ><a href="#"><i class="fab fa-twitter"></i></a
  ><a href="#"><i class="fab fa-snapchat"></i></a
  ><a href="#"><i class="fab fa-instagram"></i></a>
</div>
<p class="copyright">VPT © 2022</p>
