:host {
	padding: 5rem;
	.container {
		display: flex;
		padding: 5rem;
		justify-content: center;	
	}
	.courses {
		margin-left: 5rem;
	}
	.title {
		font-size: 2.4rem;
		font-weight: 500;
		margin-bottom: 4rem;
		color: #232323;
	}
}