<h1 class="title">Learn about your passion</h1>
<h3 class="subtitle">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus fugit error
  itaque quasi, aspernatur maiores?
</h3>

<div class="search">
  <div class="search-box">
    <input type="text" placeholder="Ne öğrenmek istersin?" />
    <span>Ara</span>
  </div>
</div>

<div class="action">
  <button class="start">Hemen Başla</button>
  <button class="explore">
    <i class="fas fa-play"></i>
    <span>Keşfet</span>
  </button>
</div>
