<div class="top-container">
	<div class="contact-image">
		<img src="./../../../assets/images/undraw_contact_us_re_4qqt.svg" alt="">
	</div>
	<div class="contact-form">
		<h3>Size Nasıl Yardımcı Olabiliriz?</h3>
		<form action="">
			<div class="form-item">
				<input type="text" placeholder="İsminiz" />
			  </div>
			  <div class="form-item">
				<input type="number" placeholder="Telefon Numaranız" />
			  </div>
			  <div class="form-item">
				<input type="email" placeholder="Mail Adresiniz" />
			  </div>
			  <div class="form-item">
				<textarea rows="3" placeholder="Mesajınız"></textarea>
			  </div>
		</form>
		<button class="form-button">Gönder</button>
	</div>
</div>