:host {
  background-color: #f5f6f7;
  margin: 0 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1.2rem;
  padding: 1rem;
  min-height: 12rem;
  box-shadow: 0 0.1rem 1rem rgba($color: #000000, $alpha: 0.1);
  border: 1px solid #eaeaea;

  cursor: pointer;
  user-select: none;

  transition: transform 0.2s;

  &:hover {
    transform: scale(1.2);
    background-color: white;
    box-shadow: 0 0.2rem 2rem rgba($color: #000000, $alpha: 0.1);
  }

  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }

  i {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #353535;
  }

  p {
    color: #353535;
  }
}
