<div class="container">
    <h3>Katılımcı Yorumları</h3>
    <div class="new-comment">
        <textarea rows="3" placeholder="Yorum yap..."></textarea>
        <button class="button">Yorum Yap</button>
    </div>
    <div class="comments">
        <div class="content">
            <img src=".//../../../assets/images/undraw_female_avatar_w3jk.svg" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum nihil dicta reiciendis minima, adipisci iusto iste laborum nulla aliquid rem esse exercitationem eaque, fuga, magni corporis! Nobis voluptatum quibusdam cupiditate laborum. Explicabo dicta assumenda officia tenetur neque quasi nesciunt debitis earum necessitatibus harum, dolorem voluptates vero deserunt eum provident fugit.</p>
        </div>
        <hr>
    </div>
    <div class="comments">
        <div class="content">
            <img src=".//../../../assets/images/undraw_female_avatar_w3jk.svg" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum nihil dicta reiciendis minima, adipisci iusto iste laborum nulla aliquid rem esse exercitationem eaque, fuga, magni corporis! Nobis voluptatum quibusdam cupiditate laborum. Explicabo dicta assumenda officia tenetur neque quasi nesciunt debitis earum necessitatibus harum, dolorem voluptates vero deserunt eum provident fugit.</p>
        </div>
        <hr>
    </div>
    <div class="comments">
        <div class="content">
            <img src=".//../../../assets/images/undraw_female_avatar_w3jk.svg" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum nihil dicta reiciendis minima, adipisci iusto iste laborum nulla aliquid rem esse exercitationem eaque, fuga, magni corporis! Nobis voluptatum quibusdam cupiditate laborum. Explicabo dicta assumenda officia tenetur neque quasi nesciunt debitis earum necessitatibus harum, dolorem voluptates vero deserunt eum provident fugit.</p>
        </div>
        <hr>
    </div>
</div>
