<div class="card">
	<div class="top">
		<i class="fas fa-map-marker-alt"></i>
		<h4>Adres</h4>
	</div>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, temporibus.</p>
</div>
<div class="card">
	<div class="top">
		<i class="fas fa-phone"></i>
		<h4>Telefon</h4>
	</div>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, temporibus.</p>
</div>
<div class="card">
	<div class="top">
		<i class="fas fa-envelope"></i>
		<h4>Mail</h4>
	</div>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, temporibus.</p>
</div>
<div class="card">
	<div class="top">
		<i class="fas fa-comment"></i>
		<h4>Canlı Destek</h4>
	</div>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, temporibus.</p>
</div>

