<img [src]="item.image" alt="" />
<h5 class="title">{{ item.name }}</h5>

<div class="description">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, iure.</p>
</div>

<div class="middle">
  <div class="length">
    <i class="far fa-clock"></i>
    <span>{{ item.length }}</span>
  </div>
  <div class="quantity">
    <i class="far fa-bookmark"></i>
    <span>{{ item.quantity }}</span>
  </div>
</div>

<div class="line"></div>
<div class="bottom">
  <div class="price">{{ item.price }}₺</div>
  <div class="star">
    <i class="fas fa-star"></i>
    <span>{{ item.star }}</span>
  </div>
</div>
