<div class="profile">
    <img src="./../../../assets/images/undraw_profile_pic_ic-5-t.svg" alt="" />
    <h3>İsim Soyisim</h3>
    <p>Eğitmen</p>
</div>
<div class="menu">
  <div class="bio">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam deserunt, maiores illum, architecto numquam, porro itaque nihil praesentium similique dolorem distinctio voluptatum labore? Quod assumenda soluta qui eos voluptate, totam perferendis illo veritatis unde dicta a similique dignissimos. Optio, harum provident reprehenderit atque obcaecati explicabo recusandae perspiciatis vitae esse nemo!</p>
  </div>
</div>
  