<div class="top">
  <div class="author">
    <img
      src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
      alt=""
    />
    <div class="author-info">
      <h3>İsim Soyisim</h3>
      <p>Spor Eğitmeni</p>
    </div>
    <i class="fas fa-chevron-right"></i>
  </div>
  <div class="line"></div>

  <div class="middle">
    <div class="length">
      <i class="far fa-clock"></i>
      <span>4 Saat</span>
    </div>
    <div class="quantity">
      <i class="far fa-bookmark"></i>
      <span>4 Ders</span>
    </div>
  </div>

  <div class="line"></div>
  <div class="bottom">
    <div class="price">80 ₺</div>
    <div class="star">
      <i class="fas fa-star"></i>
      <span>120</span>
    </div>
  </div>
</div>

<div class="action-btn">
  <span>SATIN AL</span>
</div>
