:host {
    padding: 5rem;
    display: flex;
    justify-content: space-evenly;
    
    img {
        width: 40%;
        height: inherit;
    }
    .course-content {
        
        padding: 2rem;
        border: 1px solid #eaeaea;
        border-radius: 1.2rem;
        box-shadow: 0 0.2rem 2rem rgba($color: #000000, $alpha: 0.1);
        width: 20%;
    
        .rating-stars {
            margin-top: 2rem;
        }
        .count-rating {
            margin-top: 1rem;
            font-size: 13px;
        }
        
        .line {
            border-bottom: 1px solid #939393;
            margin-top: 1rem;
        }
        .price {
            margin-top: 1rem;
            font-weight: 700;
        }
        .form-button {
            margin-top: 1.4rem;
            border: none;
            border-radius: 1.2rem;
            padding: 0.5rem 1rem;
            color: white;
            background-color: #3eb489;
            width: 70%;
            height: 3rem;
            font-size: 1rem;
          }
    }
}
