<h3>Eğtim İçeriği</h3>

<div class="description">
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae totam magni
    porro quam rerum laboriosam error vel reprehenderit sequi est ducimus
    veritatis soluta, quisquam qui, voluptatibus aperiam, asperiores fugit eum
    quod ipsa! Minus non quod laboriosam iusto vitae expedita quos architecto,
    nulla dolorum nesciunt possimus qui inventore repudiandae reiciendis animi
    nisi autem maxime quae distinctio eaque ut aliquam. Voluptatibus officia
    tempore aspernatur quo eius aperiam ex ipsum nam, inventore, ad eum atque
    assumenda quasi maxime quos alias tenetur ullam repellendus id sapiente!
    Consequuntur commodi adipisci laborum facilis ab eaque deleniti libero nisi
    minus consequatur ex possimus, inventore illo laboriosam quis?
  </p>
</div>
